{% extends "layout.html" %}

{% block title %}Détails de l'Intervention{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Détails de l'Intervention de Maintenance</h3>
                </div>
                <div class="card-body">
                    <!-- Informations détaillées sur une intervention -->
                    <p>Détails spécifiques d'une intervention...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
