{% extends "layout.html" %}

{% block title %}Inventaire des Stocks{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Réaliser un Inventaire</h3>
                </div>
                <div class="card-body">
                    <!-- Interface pour la réalisation d'inventaire -->
                    <p>Outils et formulaires pour l'inventaire...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
