{% extends "layout.html" %}

{% block title %}État des Stocks{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">État Actuel des Stocks</h3>
                </div>
                <div class="card-body">
                    <!-- Tableau de l'état des stocks ici -->
                    <p>Tableau récapitulatif des stocks...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
