{% extends "layout.html" %}

{% block title %}Ajouter Contrôle Qualité{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Nouveau Contrôle Qualité</h3>
                </div>
                <div class="card-body">
                    <!-- Formulaire pour ajouter un contrôle qualité -->
                    <p>Formulaire d'ajout de contrôle qualité...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
