{% extends "layout.html" %}

{% block title %}Détails du Contrôle Qualité{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Détails du Contrôle Qualité</h3>
                </div>
                <div class="card-body">
                    <!-- Informations détaillées sur un contrôle qualité -->
                    <p>Détails spécifiques d'un contrôle qualité...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
